nav{
    text-decoration: wavy;
    color: pink;
}
nav a:hover{
    color: deeppink;
    background-color: pink;
    font-weight: bold;
}
footer{
    text-align: center;
    background-color: lightpink ;
}