nav{
    text-decoration: none;
    color: slateblue;
}
nav a:hover{
    color: indigo;
    background-color: pink;
    font-weight: bold;
}
footer{
    text-align: center;
    background-color: hotpink;
}